body {
  font-family: 'Raleway', sans-serif;
  background-color: #afb8c7;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #7c96bf;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #2c3e50;
}

header #logo img {
  width: 50px;
  height: auto;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5rem;
  color: #020203;
  margin-bottom: 20px;
}

#users, #posts, #todos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#top-users {
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  right: 20px;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.user-card, .post-card, .todo-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  font-size: 14px;
  color: #2c3e50;
}

.post-card h3, .todo-card h3 {
  font-size: 1.2rem;
  color: #333;
}
